name: Docker

on:
  schedule:
    - cron: '0 0 * * 0'  # Runs every sunday
    
  workflow_dispatch:  # Allow manual triggering
  
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: riscv-toolchain-multilib
  TARGET_REPO: riscv-collab/riscv-gnu-toolchain
  TARGET_BRANCH: master

jobs:
  check-and-build:
    timeout-minutes: 720
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Clean up Docker environment
        run: docker system prune -af
        
      - name: Checkout this repository
        uses: actions/checkout@v4

      - name: Get latest commit from target repo
        id: get_latest_commit
        run: |
          LATEST_COMMIT=$(curl -s https://api.github.com/repos/${{ env.TARGET_REPO }}/commits/${{ env.TARGET_BRANCH }} | jq -r '.sha')
          echo "LATEST_COMMIT=${LATEST_COMMIT}" >> $GITHUB_ENV

      - name: Check for commit change
        id: check_commit
        run: |
          if [ -f latest_commit.txt ]; then
            PREV_COMMIT=$(cat latest_commit.txt)
          else
            PREV_COMMIT=""
          fi
          echo "Previous commit: $PREV_COMMIT"
          echo "Latest commit: $LATEST_COMMIT"
          if [ "$LATEST_COMMIT" == "$PREV_COMMIT" ]; then
            echo "No new commit. Exiting..."
            exit 0
          fi
          echo "$LATEST_COMMIT" > latest_commit.txt

      - name: Commit change detected, proceeding with build
        if: steps.check_commit.outputs.changed == 'true'
        run: echo "New commit detected. Running the build..."

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # not cache cache-from: type=gha
          # not cache cache-to: type=gha,mode=max

      - name: Sign the Docker image
        env:
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: echo "${TAGS}" | xargs -I {} cosign sign --yes {}@${DIGEST}
